@import "tailwindcss";
@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-expand {
  animation: expand 0.25s ease-out;
}
